# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Streamlit secrets
.streamlit/secrets.toml
notebooks/secrets.txt
*.toml

# Local caches / data
.cache.sqlite
*.sqlite
.cache/
results/
data/

# OS / editor
.DS_Store
.vscode/
